/* Main areas of page */
body, .dynamic-header, .file-tree-header, .ace_gutter {
  background-color: #23262b !important;
}

/* Text editor & console */
.ace_content, div#console  {
  background-color: #333942 !important;
}

/* Text */
.label, .dynamic-header, .dynamic-header-nav-item {
  color: rgb(191, 191, 191) !important;
}
